h1,h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    font-family: serif;
}
p{
    border-style: dashed;
    border-color: red;
    font-weight: bold;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: serif;
} 

.dashed {
    border-style: dashed;
    border-color: red;
    font-weight: bold;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: serif;
}

.gray-background {
    border-style: dashed;
    border-color: red;
    background-color: lightgray;
    font-weight: bold;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: serif;
}
