body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #872341;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

section {
    margin: 20px;
}

button {
    background-color: #BE3144;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

footer {
    background-color: #F05941;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}